@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  position: fixed;
  background-color: white;
  top: 0;
  width: 100%;
  padding-bottom: 10px;
}

.navbar .nav-logo img {
  height: 20px;
}

.navbar .nav-icons img {
  height: 20px;
  margin-left: 20px;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  margin-left: 40px;
  font-size: 15px;
}

.offers {
  padding-top: 30px;
  padding-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  background-color: black;
  color: white;
}

.offers a {
  color: blue;
}

.back-video video {
  width: 100%;
}

.services img {
  height: 30px;
  border-radius: 50%;
  width: 30px;
  margin-top: 15px;
}

.services a {
  color: blue;
}

.section {
  display: flex;
  justify-content: space-evenly;
  padding-top: 40px;
  background-color: rgba(0, 0, 0, 0.099);
  margin-top: 30px;
}

.titles h1 {
  font-size: 40px;
}

.product img {
  height: 90px;
}

.products {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
  background-color: rgba(0, 0, 0, 0.099);
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.product a {
  text-decoration: none;
  color: black;
  margin-top: 20px;
}

.card img {
  height: 220px;
}

.card {
  height: 470px;
  width: 360px;
  text-align: center;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 30px;
  padding-bottom: 30px;
  margin-top: 25px;
  transition: 0.7s;
}

.card-container {
  margin-top: 30px;
  text-align: center;
}

.card h1 {
  margin-bottom: 10px;
  margin-top: 10px;
}

.card p {
  margin-bottom: 20px;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.event-pictures img {
  height: 400px;
}

.event-pictures {
  display: flex;
  justify-content: space-evenly;
}

.apple-events {
  background-color: black;
  color: white;
  margin-top: 100px;
  padding: 40px;
}

.apple-events h1 {
  text-align: center;
  margin-bottom: 30px;
}

.section-3 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}

.section-3 img {
  height: 700px;
}

.section-3 h1 {
  font-size: 40px;
}

.store img {
  height: 22px;
}

.store {
  display: flex;
}

.menu-list {
  display: flex;
  justify-content: space-evenly;
}

.menu-list ul {
  list-style: none;
}

.store {
  margin-left: 5rem;
  padding-top: 20px;
  padding-bottom: 20px;
}

.menu-items {
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.099);
}

.footer p {
  text-align: center;
}

.footer {
  padding: 20px;
}

.menuOpen {
  display: none;
}

.cross {
  display: none;
}

.bottom-shop {
  margin-top: 30px;
  margin-left: 165px;
}
/* footer */

a:hover {
  text-decoration: underline;
}

footer {
  background-color: #f2f2f2;
  font-family: calibri;
  padding: 0 22px;
  padding-bottom: 21px;
  overflow: hidden;
}

.footer-content {
  max-width: 980px;
  margin: 0 auto;
}

.footer-menu {
  padding-top: 21px;
  overflow: hidden;
}

.footer-col {
  width: 20%;
  float: left;
}

input[type="checkbox"] {
  display: none;
}

h3 {
  color: #333;
  font-size: 14px;
  position: relative;
  z-index: 1;
  background: #f2f2f2;
  margin-bottom: 6px;
  margin-top: 0;
}

.product-list {
  padding: 0;
  list-style: none;
  margin: 0;
}

.product-list li {
  margin-bottom: 5px;
  line-height: 1;
}

.product-list a {
  color: #555;
  display: inline-block;
  font-size: 12px;
}

.product-list a:hover {
  color: #333;
}

input[type="checkbox"]:checked + .col-section .product-list {
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  visibility: visible;
  position: static;
  transform: none;
}

input[type="checkbox"]:checked + .col-section h3::after {
  transform: rotate(45deg) scale(1.08);
}

.footer-base {
  padding-top: 34px;
  padding-bottom: 21px;
  color: #888;
  font-size: 12px;
}

.footer-more-ways {
  margin-bottom: 7px;
  padding-bottom: 6px;
  border-bottom: 1px solid #d6d6d6;
}

.nowrap {
  white-space: nowrap;
}

/* media queries */

@media only screen and (max-width: 600px) {
  .navbar ul {
    display: none;
  }
  .navbar {
    display: flex;
    justify-content: space-around;
  }
  .navbar ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 40px;
    position: absolute;
    background-color: white;
    opacity: 0;
    transition: 0.6s;
  }
  .navbar ul li {
    padding-top: 30px;
  }
  .menuOpen {
    display: block;
    position: absolute;
    right: 4%;
    top: 25%;
    height: 25px;
  }
  .cross {
    display: block;
    position: absolute;
    right: 4%;
    height: 25px;
  }
  .offers p {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .offers a {
    font-size: 13px;
  }
  .section {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }
  .titles h1 {
    font-size: 30px;
  }
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .apple-events {
    display: flex;
    flex-direction: column;
  }
  .event-pictures {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .event-pictures img {
    height: 350px;
    width: 200px;
  }
  .section-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-3 img {
    height: 400px;
  }
  .section-3 h1 {
    font-size: 30px;
    margin: 20px;
  }
  .menu-list ul {
    font-size: 12px;
    padding: 10px;
  }
  /* footer */
  footer {
    padding: 0 16px;
    padding-bottom: 21px;
  }

  .footer-col {
    width: 100%;
  }

  .item {
    border-bottom: 1px solid #d6d6d6;
  }

  h3 {
    padding: 10px 0;
    margin: 0;
    cursor: pointer;
  }

  h3::after {
    content: "+";
    float: right;
    font-size: 14px;
    font-weight: bold;
    margin-top: -2px;
    margin-right: 8px;
    transition: transform 0.3s ease;
  }

  .product-list {
    visibility: hidden;
    position: absolute;
    transform: translateY(-100px);
    z-index: 1;
    padding: 5px 0 16px 0;
  }

  .product-list li {
    margin: 0;
  }

  .product-list a {
    display: block;
    padding: 6px 14px;
  }

  .footer-col {
    overflow: hidden;
  }
}
